{# City template (city.html.twig) #}
{% extends "base.html.twig" %}

{% block css %}
<style>
  body { font-family: Arial, Helvetica, sans-serif; }
  table, th, td { border: 1px solid; }
  th, td { padding: 4px; }
</style>
{% endblock %}

{% block body %}
{% set history = city.temperatures|sort((a, b) => a.time <=> b.time)|reverse %}
<h1>{{ city.name }}: {{ history.0.api1Value }} °C</h1>
<h3>History:</h3>
<table>
  <thead>
    <tr>
      <th>Time</th>
      <th>Temperature<br>(OpenWeather)</th>
      <th>Temperature<br>(WeatherAPI)</th>
    </tr>
  </thead>
  <tbody>
    {% for temperature in history %}
    <tr>
      <td>{{ temperature.time|date("d-m-Y H:i:s") }}</td>
      <td>{{ temperature.api1Value }} °C</td>
      <td>{{ temperature.api2Value }} °C</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
